Form {
    width: 500px;
    border: 1px solid silver;
    margin: 25px auto;
    padding: 25px;
}
#currentpassword, #newpassword, #verifypassword {
    width: 200px;
}
.center {
    text-align: center;
    padding: 30px 0;
}